# Python cache

**pycache**/
*.pyc

# Virtual environment

venv/
env/
.env

# Model weights

*.pt
*.pth

# Dataset

Dataset/

# Training outputs

runs/
outputs/

# OS files

.DS_Store
Thumbs.db

# Logs

*.log
